[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GFDmcv"]
	path = GFDmcv
	url = https://github.com/cran/GFDmcv
[submodule "fdANOVA"]
	path = fdANOVA
	url = https://github.com/cran/fdANOVA
[submodule "multiFANOVA"]
	path = multiFANOVA
	url = https://github.com/cran/multiFANOVA
[submodule "rmfanova"]
	path = rmfanova
	url = https://github.com/cran/rmfanova
